body {
    font-family: "Poppins", serif;
    background-color: #f9fafb;
    color: #fff;
    min-height: 100vh;
}

.main-content{
    margin-bottom: 25px;
}

.header {
    position: relative;
    padding-top: clamp(100px,100vh / 100,200px);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 75px);
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.header-content {
    width: 80%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 0 0 calc(100vw / 30) calc(100vw / 30);
    z-index: 2;
}

.profile-pic-container {
    max-width: 550px;
    min-width: 200px;
    --x : calc(100vw/5);
    width: var(--x);
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 2.3rem;
    box-shadow: 0 0 0 3px black, 0 0 0 6px var(--accent-clr);
}

.profile-pic-container img{
    width: 100%;
    height: 100%;
    object-position: top;
    object-fit: cover;
}

.details-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.details-container .username{
    margin-bottom: 10px;
    letter-spacing: 1.3px;
    text-transform: none;
    font-size: clamp(1.5rem,calc(100vw/40), 2.5rem);
    line-height: clamp(1.5rem,calc(100vw/40), 2.5rem);
}

.setting-button button{
    border: 2px solid #e6e6e6;
    background-color: transparent;
    width: 100px;
    height: 35px;
    color: white;
    border-radius: 1rem;
    padding: 5px;
    transition: all 0.3s ease;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    opacity: 0.5;
}

.setting-button button:hover{
    opacity: 1;
}

.details-container .bio{
    font-size: 14px;
    font-size: clamp(0.7rem,calc(100vw/110), calc(100vw/110));
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin-bottom: 10px;
    font-weight: 200;
    color: rgb(180, 180, 180);
}

.coin_balance{
    padding-bottom: 12px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.currency-icon{
    width: 25px;
    height: 25px;
    margin-left: 5px;
}

.currency-icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* -------------------- Settings popup -------------------- */
.settingTransparent{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(32, 32, 32, 0.85);
    z-index: 120;
}
  
.settingPopup{
    position: relative;
    width: 90%;
    max-width: 650px;
    height: 90%;
    background-color: #121212;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
    padding: 40px;
    border-radius: 4px;
}

.settingPopup .setting-close{
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 28px;
    font-weight: bold;
    font-family: monospace;
}
  
.settingPopup form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
.settingPopup form input{
    min-width: 300px;
    max-width: 400px;
    padding: 10px;
    outline: none;
    border: none;
    margin-bottom: 15px;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    color: white;
}

@media only screen and (max-width: 400px) {
    .settingPopup form input {
        min-width: 70%;
        max-width: 80%;
    }
}

.settingPopup .updateBtn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.settingPopup form button{
    background-color: #2b2b2b;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 0.8rem;
    width: 300px;
    height: 40px;
    outline: none;
    border: none;
    margin-bottom: 3px;
    transition: all 0.2s ease-out;
    opacity: 0.6;
}
  
.settingPopup form button:hover{
    opacity: 1;
}
  
.settingPopup form h3{
    color: rgb(255,255,255, 0.8);
    font-size: .9rem;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: "Poppins";
}
  
.settingPopup form .picInput{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
  
.settingPopup .preview{
    width: 100px;
    overflow: hidden;
    margin-right: 30px;
}
  
.settingPopup .picInput input{
    border: none;
}
  
.settingPopup .preview img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: top;
}
  
.settingPopup h2{
    color: var(--accent-clr);
    font-family: "Poppins";
    letter-spacing: 2px;
    font-weight: 600;
    margin: 30px 0 20px 0;
    font-size: 2rem;
}
.settingPopup .actionSettings{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settingPopup #logOutBtn{
    background-color: #2b2b2b;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 0.8rem;
    width: 300px;
    height: 40px;
    outline: none;
    border: none;
    margin-bottom: 3px;
    transition: all 0.2s ease-out;
    opacity: 0.6;
}
  
.settingPopup #logOutBtn:hover{
    opacity: 1;
}




/* Main Content Styles */
.main-content {
    padding: 20px 30px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.section-title {
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", serif;
}



.coupon{
    margin-top: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.coupon input{
    width: 150px;
    height: 90%;
    padding: 0 0 0 10px;
    border: 2px solid var(--accent-clr);
    margin-right: 4px;
    outline: none;
}
.coupon button{
    width: 70px;
    height: 90%;
    font-weight: bold;
    background-color: var(--accent-clr);
    border: 2px solid var(--accent-clr);
    color: white;
    opacity: 0.8;
}
.coupon button:hover{
    opacity: 1;
}
