@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    
    /* Main Colors */
    --accent-clr:#F93742;
    --bgClrbackup: #121212;
    /* --secondary-bgClr: #3a3a3a; */
    
    --primary-color: var(--accent-clr);
    --primary-bg-light: rgba(79, 70, 229, 0.1); /* 10% opacity */
    --gray-900: #1f2937;
    --gray-700: #374151;
    --gray-500: #6b7280;
    --gray-300: #d1d5db;
    --gray-100: #f3f4f6;
    --bg-clr: #f9fafb;



    /* Card Colors */
    --epic_color: #daa520;
    --legendary_color : #d400d4;
    --rare_color : #00ccff;
    --uncommon_color : #00ff0a;
    --common_color : #a3a3a3;
}

html {
    scroll-behavior: smooth;
    cursor: default;
}

::selection{
    color: rgb(255, 255, 255);
    background-color: var(--accent-clr);
}

::-webkit-scrollbar {
    min-width: 7px;
    max-width: 0.5vw;
    height: 0;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--accent-clr);
    border-radius: 20px;
}

body { 
    font-family: 'Courier New', Courier, monospace; 
    text-transform: uppercase;
    letter-spacing: 1px;
}
